{% extends 'layout.j2' %}
{% block body %}
  <main>
    <h1>Page Missing (404 Error)</h1>
    <p>
      <img class="swatch" src="{{ request.url_root }}hex/000" width="20" height="20">
      <img class="swatch" src="{{ request.url_root }}hex/f00" width="20" height="20">
      <img class="swatch" src="{{ request.url_root }}hex/0f0" width="20" height="20">
      <img class="swatch" src="{{ request.url_root }}hex/00f" width="20" height="20">
      <img class="swatch" src="{{ request.url_root }}hex/ff0" width="20" height="20">
      <img class="swatch" src="{{ request.url_root }}hex/0ff" width="20" height="20">
      <img class="swatch" src="{{ request.url_root }}hex/f0f" width="20" height="20">
      <img class="swatch" src="{{ request.url_root }}hex/fff" width="20" height="20">
    </p>
    <p>
      You reached this page in error. Please navigate to a link that
      represents a hex value color. For example, try visiting: <br>
      <strong>
        <a href="{{ request.url_root }}hex/ff0000">{{ request.url_root }}hex/ff0000</a>
      </strong>
    </p>
    <p>
      <em><a href="/">Return to the home page →</a></em>
    </p>
  </main>
{% endblock %}
