{% extends 'layout.j2' %}
{% block body %}
  <main>
    <h1>Welcome to Autoswat.ch!</h1>
    <p>
      <img class="swatch" src="http://localhost:5000/000" width="20" height="20">
      <img class="swatch" src="http://localhost:5000/f00" width="20" height="20">
      <img class="swatch" src="http://localhost:5000/0f0" width="20" height="20">
      <img class="swatch" src="http://localhost:5000/00f" width="20" height="20">
      <img class="swatch" src="http://localhost:5000/ff0" width="20" height="20">
      <img class="swatch" src="http://localhost:5000/0ff" width="20" height="20">
      <img class="swatch" src="http://localhost:5000/f0f" width="20" height="20">
      <img class="swatch" src="http://localhost:5000/fff" width="20" height="20">
    </p>
    <p>
      Please navigate to a link that represents a hex value color
      in order to generate a color swatch image on the fly.
      For example, try visiting: <br>
      <strong>
        <a href="http://localhost:5000/ff0000">https://autoswat.ch/ff0000</a>
      </strong>
    <p>
    <p>
      These are great for embedding into style guides, how-tos or
      example pages that are written in HTML, Markdown, etc.
    </p>
  </main>
{% endblock %}
